body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #f9f9f9;
}
h1, h2 {
text-align: center;
color: #333;
}
p {
line-height: 1.6;
font-size: 1rem;
}

nav {
text-align: center;
padding: 10px 0;
background: #488ecb;
}

nav a {
color: white;
text-decoration: none;
margin: 0 15px;
font-weight: bold;
transition: color 0.3s;
}

/* Change the color of links on hover */
nav a:hover {
  color: #94cbc8;
}

/* Add a color to the active/current link */
nav a.active {
  background-color: #04AA6D;
  color: white;
}

img {
    width: 250px;
    height: 100px;
}

.red {
 color: red;
}

.blue {
  color: blue;
}

.destacado {
font-weight: bold;
color: #488ecb;
}

article, aside {
padding: 20px;
margin: 10px;
border-radius: 8px;
}
article {
background-color: #ffffff;
box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
aside {
background-color: #f4f4f4;
border-radius: 10px;
border-left: 4px solid #83bfed;
}

img {
width: 250px;
height: auto;
border-radius: 8px;
display: block;
margin: 0 auto;
transition: transform 0.3s ease;
}

img:hover {
transform: scale(1.05);
}
a:hover {
color: #488ecb;
text-decoration: underline;
}